MEMORY {
RAM1: start = $0000, size = $8000 - __STACKSIZE__;
ROM1: start = $c03f, size = $3F00, fill = no;
MONITOR: start = $FF00, size = $FA, fill = no;
ROMV: start = $FFFA, size = $6, file = %O, fill = no;
}

SEGMENTS {
CODE:     load = ROM1, type = ro;
DATA:     load = ROM1, type = ro;
MONITOR:  load = ROM1, type = ro;
VECTORS:  load = ROM1, type = ro;
}

SYMBOLS {
__STACKSIZE__: type = weak, value = $0300;
}

